# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
.nyc_output

# production
build
dist

# next.js
.next/
out/
.vercel
.docusaurus

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# git
.git/
.gitignore

# typescript
*.tsbuildinfo

# editor
.vscode
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
